.bg{
    height:100%;
    background-image: url("img.jpg");
    background-size:cover;
    background-repeat:no-repeat; 
}
*{
    margin:0%;
    padding:0%;
}
html, body {
    height:100%;
    padding:0;
    margin:0;
}
a{
    display: inline-block;
    padding-top:2rem;
}
a:link{
    color:white;
    text-decoration: none;
    background-color: transparent;
}
a:hover{
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    text-decoration-line: underline;
}
a:visited{
    color:white;
}
.profile{
    font-family:'Cinzel decorative',cursive;
    padding-left:75rem;
    display: inline;
    top: 5rem;
}
.logout{
    font-family:'Cinzel decorative',cursive;
    padding-left:1rem;
}
.grp1{
    padding-left: 2rem;
    padding-top: 5rem;
}
.grp2{
    padding-top:5rem;
    padding-left:12rem;
}
.ind{
    top: 30rem;
}

