.bg{
    height:100%;
    background-image: url("img.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
body,html{
    height:100%;
}
*{
    margin:0%;
    padding:0%;
}
h1{
    font-family: 'Cinzel decorative',cursive;
    padding-top:3rem;
    font-size: 3rem;
}
.entermail,.reset{
    font-family: 'Cinzel decorative',cursive;
}
.mail{
    width:400px;
    padding-left:25rem;
    padding-top: 8rem;
}
 
